<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <title>Images</title>
</head>
<body>
   <div class="container">
      <h1>All Image Files</h1>
      <% if (images.length > 0) { %>
         <% images.forEach(result => { %>
               <img src="uploads/<%= result.filename %>" alt="">
               <p><%= result.originalname %></p>
         <% }) %>
      <% } else { %>
            <p><%= message %></p>
      <% } %>
   </div>
</body>
</html>